<!DOCTYPE html>
<html>
  <head>
    <title>Jobophia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
      #banner{
        height: 360px;
        width: 100%;
      }
    </style>
    
  </head>
  <body>
    <div class="container">
    <h1 class ="text-center mt-4 mb-4" >{{company_name}} Carrers</h1>
    <hr>
      <div >
    <img  class = "img-fluid" id ="banner"  src="https://career-website.rushali2607.repl.co/static/banner1.jpg">
      </div>
    <h2 class="mt-2 mb-4">About Jobophia</h2>
    <p class="lead" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    <h2 class ="text-center" >Open Positions</h2>
    <div >
      {% for job in jobs %}
          {% include 'jobitem.html' %}
      {% endfor %}
      
    </div>
      <div class="text-center">
    <button class="btn btn-primary btn-lg ">Contact Us</button>
        <p class="mt-4">Copyright 2023, Jobophia</p>
      </div>
      </div>
  </body>
</html>